.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  
}
nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar h1{
  font-weight: 800;
  margin: 0;
  padding: 0;
  font-size: 	0.875rem;
}
.toggle{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toggle img{
  width: 18px;
  padding-right: .4rem;
}
.toggle h2{
  font-size: 	0.875rem;
  font-weight: 600;
}
.dark{
  background-color: hsl(207, 26%, 17%);
  color: white;
}

@media only screen and (min-width: 1000px){
  .navbar{
    padding-inline: 3rem;
  }
}